* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  height: 100%;
  background-color: #c9ada7;
}

:root {
  --background: #22223b;
  --font: #9a8c98;
  --font2: #f2e9e4;
}



/*Nav Bar Style*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--font);
}

.name {
  font-size: 2rem;
  margin: 1rem;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  text-decoration: underline;
  font-size: 1.25rem;
  color: var(--font2);
  padding: 2rem;
  display: block;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: rgb(176, 173, 173, 0.2);
}

/*Hero Image*/
.img-container {
  background-image: url(./Assets/pexels-tom-swinnen-2249961.jpg);
  height: 35%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.profile {
  width: 200px;
  border-radius: 40%;
  padding: 10px;
  margin: 20px;
}


.inner-container {
  position: absolute;
  top: 30%;
  left: 60%;
  width: max-content;
  padding: 20px;
  height: auto;
  background-color: rgb(152, 149, 149, 0.5);
  border: 4px solid white;
}

h2 {
  font-size: 1.5rem;
  font-weight: 200;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: oblique;
  text-align: center;
  color: var(--background);
}

/* Sidebar style */
.heading {
  border-right: 5px solid;
  border-color: var(--background);
  min-height: 100%;
  text-align: right;
  padding-right: 40px;
  min-width: 20%;
  max-width: 20%;
}

/*Main Content Style*/
.aboutme {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding-top: 30px;
}
.aboutme p {
  font-size: 1.25rem;
  padding: 0 20px;
  width: 90%;
  text-align: justify;
}

.heading h3 {
  font-size: 48px;
  color: var(--background);
}

.heading h4 {
  font-size: 48px;
  color: var(--font);
}

.work {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
}

.gridcontainer {
  width: 85%;
  height: 800px;
  display: flex;
  justify-content: center;
}

.grid {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.item {
  border: solid;
  color: var(--background);
  display: flex;
  justify-content: baseline;
  align-items: center;
  text-decoration: none;
  background-size: cover;
  background-position: center;
  background-color: #f2e9e4;
}

.refactor {
  grid-column: 1/3;
  grid-row: span 2;
  background-image: url(./Assets/Horiseon.PNG);
  background-repeat: no-repeat;
}

.study-guide {
  background-image: url("./Assets/Prework.PNG");
}

.placeholder1 {
  background-image: url("./Assets/placeholder.png");
}

.placeholder2 {
  background-image: url("./Assets/placeholder.png");
}

.placeholder3 {
  background-image: url("./Assets/placeholder.png");
}

.item-content {
  font-size: 1.5rem;
  padding: 0px;
  line-height: 0.3;
}

/*Footer*/
footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
  margin-bottom: 30px;
}

.content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact {
  width: 60%;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  font-size: 30px;
}

footer ul li a {
  text-decoration: underline;
  color: var(--background);
  padding: 8px;
}

@media screen (max-width: 400px) {

.navbar-links {
display: none;
width: 100%;
}

.navbar {
  flex-direction: column;
  align-items: flex-start;
}

.navbar-links ul {
  width: 100%;
flex-direction: column;
}

.navbar-links li {
  text-align: center;
}

.navbar-links.active {
  display:flex;
}
}