* {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    height: 100%;
  }

  :root {
    --background:#6667AB; 
  }

  /*Name*/
 

  /*Nav Bar Style*/
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--background);
    color: white;
  }

  .name {
    font-size: 2rem;
    margin: 1rem;
  }

  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }

  .navbar-links li {
    list-style: none;
  }

  .navbar-links li a {
    text-decoration: none;
    font-size: 1.25rem;
    color: white;
    padding: 2rem;
    display: block;
  }

  /* Change the color of links on hover */
nav a:hover {
    background-color: rgb(176, 173, 173, 0.2);
  }

  /*Hero Image*/
  .img-container {
    background-image: url(./Assets/pexels-tom-swinnen-2249961.jpg);
    height: 35%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .inner-container {
    position: absolute;
    top: 30%;
    left: 70%;
    width:fit-content;
    padding: 20px;
    height: auto;
    background-color: rgb(152, 149, 149, 0.5);
    border: 8px solid white;
  }
  
h2 {
    font-size: 2em;
    font-weight: 200;
    text-align: center;
    color: rgb(61, 10, 105);
  }

    /* Hamburger Menu
    .toggle-button {
        position: absolute;
        top: 0.75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }

    .toggle-button .bar {
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    } */


  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
  
  p {
    margin: 0;
  }

  /* Phone View */
  @media screen and (max-width: 480px) {
   
    /* .toggle-button {
        display: flex;
    } */

    .navbar-links {
        display:flex;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: 0.5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .inner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  h2 {
    font-size: 1.4em;
  }